@model IEnumerable<VisitorManagement.Models.Employee>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    <div class="table-responsive-md">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Staff_status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Qr_image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Staff_status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Qr_image)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            <a class="btn-sm btn-info" asp-action="Edit" asp-route-id="@item.Persal">Edit</a> |
                            <a class="btn-sm btn-info" asp-action="Details" asp-route-id="@item.Persal">Details</a> |
                            <a class="btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Persal">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>