@model IEnumerable<VisitorManagement.Models.EmployeeRegister>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_logout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suspend_status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asset_num)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asset_type)
            </th>
            @*    <th>
                @Html.DisplayNameFor(model => model.HealthCheck)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Temp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_logout)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Suspend_status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Asset_num)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Asset_type)
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => item.HealthCheck.Id)
                    </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
