@model IEnumerable<VisitorManagement.Models.VisitReason>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a class="btn-sm btn-info" asp-action="Create">Create New</a>
</p>
<div>
    <div class="table-responsive-md">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a class="btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a class="btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a class="btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_Notification");
}
}